.weatherAppWrapper {
  display: block;
  margin: 0 auto;
  max-width: 777px;
}

.container {
  background-image: linear-gradient(
    -225deg,
    #473b7b 0%,
    #3584a7 51%,
    #30d2be 100%
  );
  border-radius: 11px;
  padding: 33px;
  color: #fee8df;
}

.BarStyle {
  background-color: #fee8df;
  border-radius: 5px;
  box-shadow: 7px 5px 5px rgba(0, 0, 0, 0.3);
  border-style: none;
  color: #45437f;
  text-align: left;
  padding: 5px;
  cursor: pointer;
  transition: 150ms ease-in-out;
}
.iconLocation {
  font-size: 28px;
  position: relative;
  top: 4px;
  left: 11px;
  cursor: pointer;
  transition: 150ms ease-in-out;
}

::placeholder {
  font-size: 14px;
  color: #5e618f;
  padding-left: 5px;
}
#submitCity:hover {
  background-color: #32bfb9;
  color: #fee8df;
}
.iconLocation:hover {
  color: #32bfb9;
}

h1 {
  margin-top: 11px;
  font-size: 50px;
}

#iconW {
  display: block;
  margin: 0 auto;
  margin-top: 60px;

  width: 200px;
}
.temperature {
  position: relative;
  margin-top: 32px;
  color: #99ddcf;
}
.temperature .temp {
  font-size: 80px;
}
.temperature .weatherDescription {
  font-size: 33px;
}
.weatherDescription::first-letter {
  text-transform: capitalize;
}
.unit {
  color: #8dd3c5;
  font-size: 15px;
  position: relative;
  top: -44px;
  font-weight: bolder;
}
a {
  color: #fee8df;
  text-decoration: none;
  cursor: pointer;
}
a.active {
  color: #31cebd;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #31cebd;
  text-decoration: none;
}
a:focus {
  color: #19cfbd;
}
.weatherDescription {
  font-size: 22px;
  color: #99ddcf;
}

.info {
  font-size: 18px;
}
.imgPark {
  display: block;
  margin: 0 auto;
}
hr {
  margin: 0;
}
.week {
  padding-top: 11px;
  text-align: center;
  color: #453f7d;
  font-size: 15px;
  font-weight: bolder;
}
.iWF {
  width: 44px;
}
.openSource {
  text-align: center;
  padding: 11px;
  color: #45437f;
}
.openSource a {
  color: #3398ac;
  cursor: pointer;
}

@media (max-width: 760px) {
  /* put all rules for less than or equal to 960 pixels here */
  #iconW {
    width: 150px;
  }
  .imgPark {
    max-width: 211px;
  }

  .info {
    font-size: 13px;
  }
  .week {
    font-size: 11px;
  }
}

@media (max-width: 485px) {
  /*  all rules for less than or equal to 960 pixels here */

  .weatherAppWrapper {
    max-width: none;
    background-image: linear-gradient(
      -225deg,
      #473b7b 0%,
      #3584a7 51%,
      #30d2be 100%
    );
  }
  .container {
    border-radius: none;
  }
  #iconW {
    width: 150px;
  }
  .imgPark {
    max-width: 211px;
  }

  .info {
    font-size: 9px;
  }
  .week {
    font-size: 7px;
  }
  .iWF {
    max-width: 25px;
  }
  .openSource {
    text-align: center;
    padding: 0px;
    padding-top: 5px;
    margin: 0;
    color: #45437f;
  }
  .openSource a {
    color: #fee8df;
    cursor: pointer;
  }
}
@media (max-width: 395px) {
  /*  all rules for less than or equal to 960 pixels here */

  .weatherAppWrapper {
    max-width: none;
    background-image: linear-gradient(
      -225deg,
      #473b7b 0%,
      #3584a7 51%,
      #30d2be 100%
    );
  }
  .container {
    border-radius: none;
  }
  #iconW {
    width: 125px;
  }
  #currentTemp {
    font-size: 70px;
  }

  .imgPark {
    max-width: 190px;
  }

  .info {
    font-size: 9px;
  }
  .week {
    font-size: 5px;
  }
  .iWF {
    max-width: 25px;
  }
  .openSource {
    text-align: center;
    padding: 0px;
    padding-top: 5px;
    margin: 0;
    color: #45437f;
  }
  .openSource a {
    color: #fee8df;
    cursor: pointer;
  }
}
@media (max-width: 350px) {
  /*  all rules for less than or equal to 960 pixels here */

  .weatherAppWrapper {
    max-width: none;
    background-image: linear-gradient(
      -225deg,
      #473b7b 0%,
      #3584a7 51%,
      #30d2be 100%
    );
  }
  .container {
    border-radius: none;
  }
  .searchF {
    padding: 5px;
    font-size: 11px;
  }
  #iconW {
    width: 110px;
  }
  #currentTemp {
    font-size: 50px;
    position: relative;
    top: -10px;
  }

  .imgPark {
    max-width: 170px;
  }

  .info {
    font-size: 8px;
  }
  .week {
    font-size: 3px;
  }
  .iWF {
    max-width: 20px;
  }
  .openSource {
    text-align: center;
    padding: 0px;
    padding-top: 5px;
    margin-bottom: 0;
    color: #45437f;
  }
  .openSource a {
    color: #fee8df;
    cursor: pointer;
  }
}

/* down to 318px */
